<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>try page</title>
	<style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 100px;
    }
    .message {
      color: red;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .try-again-btn {
      padding: 10px 20px;
      background-color: #3498db;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
    .try-again-btn:hover {
      background-color: #2980b9;
    }
  </style>
</head>
<body>
	 <div class="message">
    <p>Login Failed..!! Entered username or password is wrong.</p>
    <p>Please try again.</p>
  </div>
  <a th:href="@{/}" class="try-again-btn">Go To Login</a>
</body>
</html>